body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1861e9 0%, #25d1fc 90%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

form label,
input {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 97%;
}

button {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0a8ffc;
    color: white;
    font-size: 16px;
}

button.reset {
    background-color: #dc3545;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    display: none;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #048de9;
    color: white;
}